# Dependency directories
node_modules/

# Logs and debugging
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for storing build output
dist/
build/

# Dependency files
package-lock.json
yarn.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Compiled binary addons (e.g., node-sass)
/build/

# Output of 'npm run build'
/dist/
